.tarball-version
.version
/*.cache
/*.flc
/*.prj
/*~
/_*
ABOUT-NLS
COPYING
GNUmakefile
INSTALL
Makefile
Makefile.in
a.exe
a.out
aclocal.m4
b.out
bison-*
conf[0-9]*
confdefs*
config.log
config.status
configure
configure.lineno
conftest*
gnulib
javacomp.sh
javaexec.sh
maint.mk
patches
releases
stamp-h*
