/*.a
/*.bak
/*.o
/*~
/.deps
/.dirstamp
/_Noreturn.h
/alignof.h
/alloca.h
/alloca.in.h
/allocator.c
/allocator.h
/areadlink.c
/areadlink.h
/arg-nonnull.h
/argmatch.c
/argmatch.h
/asnprintf.c
/asprintf.c
/assure.h
/attribute.h
/basename-lgpl.c
/basename-lgpl.h
/basename.c
/binary-io.c
/binary-io.h
/bitrotate.c
/bitrotate.h
/bitset.c
/bitset.h
/bitset/
/bitsetv.c
/bitsetv.h
/c++defs.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/calloc.c
/canonicalize-lgpl.c
/careadlinkat.c
/careadlinkat.h
/cdefs.h
/charset.alias
/cloexec.c
/cloexec.h
/close-stream.c
/close-stream.h
/close.c
/closeout.c
/closeout.h
/concat-filename.c
/concat-filename.h
/config.h
/config.in.h
/configmake.h
/diffseq.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/dup-safer-flag.c
/dup-safer.c
/dup2.c
/errno.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fatal-signal.c
/fatal-signal.h
/fcntl.c
/fcntl.h
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/fd-safer-flag.c
/fd-safer.c
/filename.h
/float+.h
/float.c
/float.h
/float.in.h
/fopen-safer.c
/fopen.c
/fpending.c
/fpending.h
/fprintf.c
/fpucw.h
/frexp.c
/frexpl.c
/fseterr.c
/fseterr.h
/fstat.c
/fstrcmp.c
/fstrcmp.h
/fsync.c
/getdelim.c
/getdtablesize.c
/gethrxtime.c
/gethrxtime.h
/getline.c
/getopt-cdefs.h
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.h
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/getrusage.c
/gettext.h
/gettime.c
/gettimeofday.c
/gl_anyhash1.h
/gl_anyhash2.h
/gl_anyhash_primes.h
/gl_anylinked_list1.h
/gl_anylinked_list2.h
/gl_anyrbtree_list1.h
/gl_anyrbtree_list2.h
/gl_anytree_list1.h
/gl_anytree_list2.h
/gl_anytree_oset.h
/gl_anytreehash_list1.h
/gl_anytreehash_list2.h
/gl_array_list.c
/gl_array_list.h
/gl_linked_list.c
/gl_linked_list.h
/gl_list.c
/gl_list.h
/gl_oset.c
/gl_oset.h
/gl_rbtree_ordered.h
/gl_rbtree_oset.c
/gl_rbtree_oset.h
/gl_rbtreehash_list.c
/gl_rbtreehash_list.h
/gl_xlist.c
/gl_xlist.h
/gnulib.mk
/hard-locale.c
/hard-locale.h
/hash.c
/hash.h
/iconv.c
/iconv.h
/iconv.in.h
/iconv_close.c
/iconv_open-aix.gperf
/iconv_open-aix.h
/iconv_open-hpux.gperf
/iconv_open-hpux.h
/iconv_open-irix.gperf
/iconv_open-irix.h
/iconv_open-osf.gperf
/iconv_open-osf.h
/iconv_open-solaris.gperf
/iconv_open-solaris.h
/iconv_open-zos.gperf
/iconv_open-zos.h
/iconv_open.c
/intprops.h
/inttypes.h
/inttypes.in.h
/isnan.c
/isnand-nolibm.h
/isnand.c
/isnanf-nolibm.h
/isnanf.c
/isnanl-nolibm.h
/isnanl.c
/iswblank.c
/iswdigit.c
/iswxdigit.c
/itold.c
/lc-charset-dispatch.c
/lc-charset-dispatch.h
/ldexpl.c
/libc-config.h
/limits.h
/limits.in.h
/localcharset.c
/localcharset.h
/locale.h
/locale.in.h
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/math.c
/math.h
/math.in.h
/mbchar.c
/mbchar.h
/mbfile.c
/mbfile.h
/mbrtowc-impl-utf8.h
/mbrtowc-impl.h
/mbrtowc.c
/mbsinit.c
/mbswidth.c
/mbswidth.h
/mbtowc-lock.c
/mbtowc-lock.h
/memchr.c
/memchr.valgrind
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/obstack.c
/obstack.h
/obstack_printf.c
/open.c
/pathmax.h
/perror.c
/pipe-safer.c
/pipe2-safer.c
/pipe2.c
/printf-args.c
/printf-args.h
/printf-frexp.c
/printf-frexp.h
/printf-frexpl.c
/printf-frexpl.h
/printf-parse.c
/printf-parse.h
/printf.c
/progname.c
/progname.h
/progreloc.c
/quote.h
/quotearg.c
/quotearg.h
/raise.c
/rawmemchr.c
/rawmemchr.valgrind
/readline.c
/readline.h
/readlink.c
/realloc.c
/ref-add.sed
/ref-del.sed
/relocatable.c
/relocatable.h
/relocwrapper.c
/rename.c
/rmdir.c
/same-inode.h
/sched.h
/sched.in.h
/setenv.c
/setlocale-lock.c
/setlocale_null.c
/setlocale_null.h
/sig-handler.c
/sig-handler.h
/sigaction.c
/signal.h
/signal.in.h
/signbitd.c
/signbitf.c
/signbitl.c
/sigprocmask.c
/size_max.h
/snprintf.c
/spawn-pipe.c
/spawn-pipe.h
/spawn.h
/spawn.in.h
/spawn_faction_addclose.c
/spawn_faction_adddup2.c
/spawn_faction_addopen.c
/spawn_faction_destroy.c
/spawn_faction_init.c
/spawn_int.h
/spawnattr_destroy.c
/spawnattr_init.c
/spawnattr_setflags.c
/spawnattr_setsigmask.c
/spawni.c
/spawnp.c
/sprintf.c
/stamp-h1
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdbool.h
/stdbool.in.h
/stddef.h
/stddef.in.h
/stdint.h
/stdint.in.h
/stdio--.h
/stdio-impl.h
/stdio-safer.h
/stdio.h
/stdio.in.h
/stdlib.h
/stdlib.in.h
/stpcpy.c
/stpncpy.c
/strchrnul.c
/strchrnul.valgrind
/strdup.c
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/strerror_r.c
/string.h
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/strverscmp.c
/sys
/sys_ioctl.in.h
/sys_resource.in.h
/sys_socket.in.h
/sys_stat.in.h
/sys_time.in.h
/sys_times.in.h
/sys_types.in.h
/sys_wait.in.h
/sysexits.in.h
/termios.h
/termios.in.h
/textstyle.h
/textstyle.in.h
/time.h
/time.in.h
/timespec.c
/timespec.h
/timevar.c
/timevar.h
/unicodeio.c
/unicodeio.h
/unistd--.h
/unistd-safer.h
/unistd.c
/unistd.h
/unistd.in.h
/unistr.h
/unistr.in.h
/unistr/
/unitypes.h
/unitypes.in.h
/uniwidth
/uniwidth.h
/uniwidth.in.h
/unlink.c
/unlocked-io.h
/unsetenv.c
/unused-parameter.h
/vasnprintf.c
/vasnprintf.h
/vasprintf.c
/verify.h
/vfprintf.c
/vsnprintf.c
/vsprintf.c
/w32spawn.h
/wait-process.c
/wait-process.h
/waitpid.c
/warn-on-use.h
/wchar.h
/wchar.in.h
/wctype-h.c
/wctype.h
/wctype.in.h
/wcwidth.c
/windows-initguard.h
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/windows-rwlock.c
/windows-rwlock.h
/windows-tls.c
/windows-tls.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xconcat-filename.c
/xhash.c
/xmalloc.c
/xmemdup0.c
/xmemdup0.h
/xreadlink.c
/xreadlink.h
/xsize.c
/xsize.h
/xstrndup.c
/xstrndup.h
/xtime.c
/xtime.h
