/* CSS style for Bison's diagnostics.

   This is an experimental feature.  The class names may change in the
   future.  */

.warning   { color: purple; }
.error     { color: red; }
.note      { color: cyan; }
/* Semantic values in Bison's parser traces.  */
.value     { color: green; }
