/*.o
/*.tmp
/.deps
/calc++
/calc++-driver.cc
/calc++-driver.hh
/calc++-parser.output
/calc++-parser.yy
/calc++-parser.cc
/calc++-parser.h
/calc++-scanner.cc
/calc++-scanner.ll
/calc++.cc
/calc++.exe
/calc.stamp
/location.hh
/position.hh
/stack.hh
